{% extends 'base.html.twig' %}

{% block title %} Accueil {% endblock %}

{% block stylesheets %}

    <link href="{{ asset('css/stylesLayout.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/stylesHome.css') }}" type="text/css" rel="stylesheet" />

{% endblock %}

{% block body %}

    <header id="home">

        <figure>
            <img src="{{ asset('img/formation.jpg')}}" alt="">
            <figcaption>
                <h1>Découvrez nos parcours de formations </h1>
                <p>Apprenez un métier d'avenir grâce à nos différentes formations</p>
            </figcaption>
        </figure>

    </header>

    {# Si il y a un user en session on affiche les formations  #}
    {% if app.user %}
        <body>
            <h2>Dans quel domaine souhaitez-vous vous former ? </h2>  
        
            <div class="mesCartes">
                {# formation ce trouve dans FormationController #}
                {% for formation in formations %}   
        
                    <div class="carte">
                        <figure class="figImage">
                            <img src="{{ formation.banniere }}" alt="">
                        </figure>
                        <div class="infoCarte">
                            <h5>{{ formation.titre }}</h5>
                            <p>{{ formation.descriptif }}</p>
                            {# la methode showFormation ce trouve dans HomeController #}
                            <a href="{{ path('showFormations',{'idFormation': formation.id}) }}" class="btn btn-primary">Plus d'information</a>
                        </div>
                    </div>
        
                {% endfor %}
            </div>
        </body>
    {% endif %}

{% endblock %}
